<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            /* color: aquamarine; */
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
    </style>
    <title>Update</title>
</head>
<body>
    <h1>Update Opening_crawl</h1>
    {% if movies%}
        <form method="post">
            {% csrf_token %}
            <label>Select a movie to update:</label>
            <select name="title" id="title">
                {% for movie in movies %}
                <option value="{{ movie.title }}">{{ movie.title }}</option>
                {% endfor %}
            </select>
            <br><br>
            <label for="text">Enter the text:</label>
            <input type="text" id="text" name="text">
            <input type="submit" name="update" value="Update">
        </form>
    {%else%}
        <h2>No data available</h2>
    {%endif%}
</body>
</html>